<!-- Stat Footer -->

<div class="bd_buttons">
        <div class="container">
            <div class="row">
    <div class="fbtn">
    <div class="col-md-4"></div>
    <div class="col-md-2 col-xs-6">
    <div class="btn_design">
    <a href="https://wa.me/+91-9958291021" target="_blank"><span>Book Now</span></a>
    </div>
    </div>
    <div class="col-md-2 col-xs-6"> 
    <div class="btn_design">
    <a href="tel:+91-9958291021" target="_blank"> 
    <span>Call Now</span></a>
    </div>
    </div>
    <div class="col-md-4"></div>
    </div>
    </div>
    </div>
    </div>
    
    
    <!--Why you Need to Choose Ecova End-->
    <div class="footer_address_start">
        <div class="container">
            <div class="col-md-12">
                <div class="main_address">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">						
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="div_one ceter_div">
                                <a href="index.html"><img src="https://www.relocatoremovals.in/images/footer-logo.png" alt="" width="230px" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <footer>
        <div class="container">
            <div class="row address_section_start">
                <div class="col-md-6 col-sm-4 desktop_hide">
                    <div class="bottom_links_start div_center">
                        <div class="div_one">
                            <ul class="top-social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="div_one address-right">
                                <ul class="top-social-icons">
                                    <li><i class="fa fa-home"></i>Indirapuram, Ghaziabad,Uttar Pradesh 201014, India</li>
                                    <li class="mobile_number"><i class="fa fa-phone"></i>+91- 9958291021</li>
                                    <li><i class="fa fa-envelope"></i>support@relocatoremovals.in</li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="bottom_links_start box_bottom_right">
                        <ul>
                            <li><a href="https://www.relocatoremovals.in/index.php">Home</a></li>
                            <li><a href="https://www.relocatoremovals.in/about.php">About Us</a></li>
                            <li><a href="https://www.relocatoremovals.in/services.php">Services</a></li>
                            <li><a href="https://www.relocatoremovals.in/contact-us.php">Contact Us</a></li>
                            <li><a href="https://www.relocatoremovals.in/tracking.php">Track Shipment</a></li>
                            <li><a href="https://www.relocatoremovals.in/general-information.php">General Info</a></li>
                            <li><a href="https://www.relocatoremovals.in/custom-information.php">Custom Info</a></li>
                            <li><a href="https://www.relocatoremovals.in/industry-information.php">Industry Info</a></li>
                            <li><a href="https://www.relocatoremovals.in/volumecalculator-enquiry.php">Enquery</a></li>
                            <li><a href="https://www.relocatoremovals.in/privacy-policy.php">Privacy Policy</a></li>
                            <li><a href="https://www.relocatoremovals.in/terms-conditions.php">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 mobile_hide">
                    <div class="bottom_links_start div_center">
                        <div class="div_one">
                            <ul class="top-social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="div_one address-right">
                                <ul class="top-social-icons">
                                    <li><i class="fa fa-home"></i>Indirapuram, Ghaziabad,Uttar Pradesh 201014, India</li>
                                    <li class="mobile_number"><i class="fa fa-phone"></i>+91- 9958291021</li>
                                    <li><i class="fa fa-envelope"></i>support@relocatoremovals.in</li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="bottom_links_start box_bottom_left">
                        <ul>
                            <li><a href="https://www.relocatoremovals.in/claims.php">Claims</a></li>
                            <li><a href="https://www.relocatoremovals.in/insurance.php">Insurance</a></li>
                            <li><a href="https://www.relocatoremovals.in/volume-calculator.php">Volume Calculator</a></li>
                            <li><a href="https://www.relocatoremovals.in/blog.php">Blog</a></li>
                            <li><a href="https://www.relocatoremovals.in/useful-tools.php">Useful Tools</a></li>
                            <li><a href="https://www.relocatoremovals.in/online-payment.php">Online Payment</a></li>
                            <li><a href="https://www.relocatoremovals.in/gallery.php">Gallery</a></li>
                            <li><a href="https://www.relocatoremovals.in/testimonial.php">Testimonials</a></li>
                            <li><a href="https://www.relocatoremovals.in/faq.php">Faq</a></li>
                            <li><a href="https://www.relocatoremovals.in/disclaimer.php">Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="clientX"></div>
    <div class="sub_footer">
        <div class="container">
            <div class="row bottom_city_links">
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                             <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-andhra-pradesh.php">Packers & Movers Andhra Pradesh</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-arunachal-pradesh.php">Packers & Movers Arunachal Pradesh</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-assam.php">Packers & Movers Assam</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-bihar.php">Packers & Movers Bihar</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-chhattisgarh.php">Packers & Movers Chhattisgarh</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-delhi.php">Packers & Movers Delhi</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-goa.php">Packers & Movers Goa</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-gujarat.php">Packers & Movers Gujarat</a></li>
                        </ul>
                    
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-haryana.php">Packers & Movers Haryana</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-himachal-pradesh.php">Packers & Movers Himachal Pradesh</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-jammu-and-kashmir.php">Packers & Movers Jammu &amp; Kashmir</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-jharkhand.php">Packers & Movers Jharkhand</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-karnataka.php">Packers & Movers Karnataka</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-kerala.php">Packers & Movers Kerala</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-madhya-pradesh.php">Packers & Movers Madhya Pradesh</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-maharashtra.php">Packers & Movers Maharashtra</a></li>						
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-manipur.php">Packers & Movers Manipur</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-meghalaya.php">Packers & Movers Meghalaya</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-mizoram.php">Packers & Movers Mizoram</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-nagaland.php">Packers & Movers Nagaland</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-odisha.php">Packers & Movers Odisha</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-punjab.php">Packers & Movers Punjab</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-rajasthan.php">Packers & Movers Rajasthan</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-sikkim.php">Packers & Movers Sikkim</a></li>			
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-tamilnadu.php">Packers & Movers Tamil Nadu</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-telangana.php">Packers & Movers Telangana</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-tripura.php">Packers & Movers Tripura</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-uttarakhand.php">Packers & Movers Uttarakhand</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-uttar-pradesh.php">Packers & Movers Uttar Pradesh</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-west-bengal.php">Packers & Movers West Bengal</a></li>
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-andaman-and-nicobar.php">Packers & Movers Andaman and Nicobar</a></li>			
                            <li><a href="https://www.relocatoremovals.in/packers-and-movers-in-puducherry.php">Packers & Movers Puducherry</a></li>
                        </ul>
                    </div>
                </div>
            </div>		
        </div>
        <div class="row text-center bottom_text">
            <h4>Copyright 2017, All Rights Reserved | Designed & Developed by <a style="color:#fff;" href="https://www.degaaro.com/" target="_blank" title="Degaaro">Degaaro</a></h4>
            </div>
    </div>
    
    <!--================== footer Strip =====================-->
    <div class="go-top"><i class="fa fa-angle-up"></i></div>