<!-- Stat Footer -->

<div class="bd_buttons">
        <div class="container">
            <div class="row">
    <div class="fbtn">
    <div class="col-md-4"></div>
    <div class="col-md-2 col-xs-6">
    <div class="btn_design">
    <a href="https://wa.me/+91-9958291021" target="_blank"><span>Book Now</span></a>
    </div>
    </div>
    <div class="col-md-2 col-xs-6"> 
    <div class="btn_design">
    <a href="tel:+91-9958291021" target="_blank"> 
    <span>Call Now</span></a>
    </div>
    </div>
    <div class="col-md-4"></div>
    </div>
    </div>
    </div>
    </div>
    
    
    <!--Why you Need to Choose Ecova End-->
    <div class="footer_address_start">
        <div class="container">
            <div class="col-md-12">
                <div class="main_address">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">						
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="div_one ceter_div">
                                <a href="index.html"><img src="https://www.relocatoremovals.in/images/footer-logo.png" alt="" width="230px" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <footer>
        <div class="container">
            <div class="row address_section_start">
                <div class="col-md-6 col-sm-4 desktop_hide">
                    <div class="bottom_links_start div_center">
                        <div class="div_one">
                            <ul class="top-social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="div_one address-right">
                                <ul class="top-social-icons">
                                    <li><i class="fa fa-home"></i>Indirapuram, Ghaziabad,Uttar Pradesh 201014, India</li>
                                    <li class="mobile_number"><i class="fa fa-phone"></i>+91- 9958291021</li>
                                    <li><i class="fa fa-envelope"></i>support@relocatoremovals.in</li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="bottom_links_start box_bottom_right">
                        <ul>
                            <li><a href="{%url 'index'%}">Home</a></li>
                            <li><a href="{%url 'about'%}">About Us</a></li>
                            <li><a href="{%url 'contactus'%}">Contact Us</a></li>
                           
                          
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 mobile_hide">
                    <div class="bottom_links_start div_center">
                        <div class="div_one">
                            <ul class="top-social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="div_one address-right">
                                <ul class="top-social-icons">
                                    <li><i class="fa fa-home"></i>Indirapuram, Ghaziabad,Uttar Pradesh 201014, India</li>
                                    <li class="mobile_number"><i class="fa fa-phone"></i>+91- 9958291021</li>
                                    <li><i class="fa fa-envelope"></i>support@relocatoremovals.in</li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="bottom_links_start box_bottom_left">
                        <ul>
                            
                            <li><a href="{%url 'volumecalculator'%}">Volume Calculator</a></li>
                            <li><a href="{%url 'gallery'%}">Gallery</a></li>
                            <li><a  href="{%url 'enquiry'%}">Enquiry</a></li>
                           
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="clientX"></div>
    <div class="sub_footer">
      
        <div class="row text-center bottom_text">
            <h4>Copyright 2019, All Rights Reserved | Designed & Developed by <a style="color:#fff;" href="https://www.degaaro.com/" target="_blank" title="Degaaro">Degaaro</a></h4>
            </div>
    </div>
    
    <!--================== footer Strip =====================-->
    <div class="go-top"><i class="fa fa-angle-up"></i></div>