<!-- Stat Footer -->

<div class="bd_buttons">
        <div class="container">
            <div class="row">
    <div class="fbtn">
    <div class="col-md-4"></div>
    <div class="col-md-2 col-xs-6">
    <div class="btn_design">
    <a href="https://wa.me/+91-9958291021" target="_blank"><span>Book Now</span></a>
    </div>
    </div>
    <div class="col-md-2 col-xs-6"> 
    <div class="btn_design">
    <a href="tel:+91-9958291021" target="_blank"> 
    <span>Call Now</span></a>
    </div>
    </div>
    <div class="col-md-4"></div>
    </div>
    </div>
    </div>
    </div>
    
    
    <!--Why you Need to Choose Ecova End-->
    <div class="footer_address_start">
        <div class="container">
            <div class="col-md-12">
                <div class="main_address">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">						
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="div_one ceter_div">
                                <a href="index.html"><img src="https://www.relocatoremovals.in/images/footer-logo.png" alt="" width="230px" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <footer>
        <div class="container">
            <div class="row address_section_start">
                <div class="col-md-6 col-sm-4 desktop_hide">
                    <div class="bottom_links_start div_center">
                        <div class="div_one">
                            <ul class="top-social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="div_one address-right">
                                <ul class="top-social-icons">
                                    <li><i class="fa fa-home"></i>Indirapuram, Ghaziabad,Uttar Pradesh 201014, India</li>
                                    <li class="mobile_number"><i class="fa fa-phone"></i>+91- 9958291021</li>
                                    <li><i class="fa fa-envelope"></i>support@relocatoremovals.in</li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="bottom_links_start box_bottom_right">
                        <ul>
                            <li><a href="{%url 'index'%}">Home</a></li>
                            <li><a href="{%url 'about'%}">About Us</a></li>
                            <li><a href="{%url 'index'%}">Services</a></li>
                            <li><a href="{%url 'contactus'%}">Contact Us</a></li>
                            <li><a href="{%url 'tracking'%}">Track Shipment</a></li>
                            <li><a  href="{%url 'generalinformation'%}">General Info</a></li>
                            <li><a  href="{%url 'custominformation'%}">Custom Info</a></li>
                            <li><a  href="{%url 'industryinformation'%}">Industry Info</a></li>
                            <li><a  href="{%url 'enquiry'%}">Enquiry</a></li>
                            <li><a  href="{%url 'privacypolicy'%}">Privacy Policy</a></li>
                            <li><a  href="{%url 'termsconditions'%}">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 mobile_hide">
                    <div class="bottom_links_start div_center">
                        <div class="div_one">
                            <ul class="top-social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="div_one address-right">
                                <ul class="top-social-icons">
                                    <li><i class="fa fa-home"></i>Indirapuram, Ghaziabad,Uttar Pradesh 201014, India</li>
                                    <li class="mobile_number"><i class="fa fa-phone"></i>+91- 9958291021</li>
                                    <li><i class="fa fa-envelope"></i>support@relocatoremovals.in</li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="bottom_links_start box_bottom_left">
                        <ul>
                            <li><a href="{%url 'claims'%}">Claims</a></li>
                            <li><a href="{%url 'insurance'%}">Insurance</a></li>
                            <li><a href="{%url 'volumecalculator'%}">Volume Calculator</a></li>
                            <li><a href="{%url 'blog'%}">Blog</a></li>
                            <li><a href="{%url 'usefultools'%}">Useful Tools</a></li>
                            <li><a href="{%url 'onlinepayment'%}">Online Payment</a></li>
                            <li><a href="{%url 'gallery'%}">Gallery</a></li>
                            <li><a href="{%url 'testimonials'%}">Testimonials</a></li>
                            <li><a href="{%url 'faq'%}">Faq</a></li>
                            <li><a href="{%url 'disclaimer'%}">Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="clientX"></div>
    <div class="sub_footer">
        <div class="container">
            <div class="row bottom_city_links">
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                             <li><a  href="{%url 'packers' 'andhra' %}">Packers & Movers Andhra Pradesh</a></li>
                            <li><a href="{%url 'packers' 'arunachal' %}">Packers & Movers Arunachal Pradesh</a></li>
                            <li><a href="{%url 'packers' 'assam' %}">Packers & Movers Assam</a></li>
                            <li><a href="{%url 'packers' 'bihar' %}">Packers & Movers Bihar</a></li>
                            <li><a href="{%url 'packers' 'chattisgarh' %}">Packers & Movers Chhattisgarh</a></li>
                            <li><a href="{%url 'packers' 'delhi' %}">Packers & Movers Delhi</a></li>
                            <li><a href="{%url 'packers' 'goa' %}">Packers & Movers Goa</a></li>
                            <li><a href="{%url 'packers' 'gujrat' %}">Packers & Movers Gujarat</a></li>
                        </ul>
                    
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                            <li><a href="{%url 'packers' 'haryana' %}">Packers & Movers Haryana</a></li>
                            <li><a href="{%url 'packers' 'himachal' %}">Packers & Movers Himachal Pradesh</a></li>
                            <li><a href="{%url 'packers' 'kashmir' %}">Packers & Movers Jammu &amp; Kashmir</a></li>
                            <li><a href="{%url 'packers' 'jharkhand' %}">Packers & Movers Jharkhand</a></li>
                            <li><a href="{%url 'packers' 'karnataka' %}">Packers & Movers Karnataka</a></li>
                            <li><a href="{%url 'packers' 'kerala' %}">Packers & Movers Kerala</a></li>
                            <li><a href="{%url 'packers' 'mp' %}">Packers & Movers Madhya Pradesh</a></li>
                            <li><a href="{%url 'packers' 'maharasthra' %}">Packers & Movers Maharashtra</a></li>						
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                            <li><a href="{%url 'packers' 'manipur' %}">Packers & Movers Manipur</a></li>
                            <li><a href="{%url 'packers' 'meghalaya' %}">Packers & Movers Meghalaya</a></li>
                            <li><a href="{%url 'packers' 'mizoram' %}">Packers & Movers Mizoram</a></li>
                            <li><a href="{%url 'packers' 'nagaland' %}">Packers & Movers Nagaland</a></li>
                            <li><a href="{%url 'packers' 'odisha' %}">Packers & Movers Odisha</a></li>
                            <li><a href="{%url 'packers' 'punjab' %}">Packers & Movers Punjab</a></li>
                            <li><a href="{%url 'packers' 'rajasthan' %}">Packers & Movers Rajasthan</a></li>
                            <li><a href="{%url 'packers' 'sikkim' %}">Packers & Movers Sikkim</a></li>			
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="bottom_links_start">
                        <ul>
                            <li><a href="{%url 'packers' 'tamilnadu' %}">Packers & Movers Tamil Nadu</a></li>
                            <li><a href="{%url 'packers' 'telangana' %}">Packers & Movers Telangana</a></li>
                            <li><a href="{%url 'packers' 'tripura' %}">Packers & Movers Tripura</a></li>
                            <li><a href="{%url 'packers' 'uttarakhand' %}">Packers & Movers Uttarakhand</a></li>
                            <li><a href="{%url 'packers' 'up' %}">Packers & Movers Uttar Pradesh</a></li>
                            <li><a href="{%url 'packers' 'westbengal' %}">Packers & Movers West Bengal</a></li>
                            <li><a href="{%url 'packers' 'andaman' %}">Packers & Movers Andaman and Nicobar</a></li>			
                            <li><a href="{%url 'packers' 'puduchery' %}">Packers & Movers Puducherry</a></li>
                        </ul>
                    </div>
                </div>
            </div>		
        </div>
        <div class="row text-center bottom_text">
            <h4>Copyright 2017, All Rights Reserved | Designed & Developed by <a style="color:#fff;" href="https://www.degaaro.com/" target="_blank" title="Degaaro">Degaaro</a></h4>
            </div>
    </div>
    
    <!--================== footer Strip =====================-->
    <div class="go-top"><i class="fa fa-angle-up"></i></div>