  

<div id="myModal" class="modal fade" role="dialog">

        <div class="modal-dialog">
      
      
      
          <!-- Modal content-->
      
          <div class="modal-content">
      
            <div class="modal-header">
      
              <button type="button" class="close" data-dismiss="modal">&times;</button>
      
              <h4 class="modal-title" style="text-align:center;">Write Testimonial</h4>
      
            </div>
      
            <div class="modal-body">
      
              <form name="myForm" role="form" method="post" enctype="multipart/form-data">
      
                  <input class="form-control" name="name" placeholder="Your Name..."> <br> 
      
                  <input class="form-control" name="email" placeholder="Your Email...">  <br>
      
                  <input class="form-control" name="move_date" type="date" placeholder="Your Moving Date...">  <br>
      
                  <input class="form-control" name="move_from" placeholder="Moving From...">  <br>
      
                  <input class="form-control" name="move_to" placeholder="Moving to...">  <br>
      
                  <input class="form-control" name="designation" placeholder="Designation...">  <br>
      
                  <select class="form-control" name="rating" required>
      
                      <option value="">Select Rating</option>
      
                      <option value="1">1 Star</option>
      
                      <option value="2">2 Star</option>
      
                      <option value="3">3 Star</option>
      
                      <option value="4">4 Star</option>
      
                      <option value="5">5 Star</option>
      
                  
      
                  </select>
      
                  <input class="form-control" type="file" id="file" name="image_a" multiple="multiple" accept="image/*">  <br>
      
                  <textarea class="form-control" name="msg" placeholder="Your Review...."></textarea><br>
      
                  <center><input type="submit" name="submit" class="btn btn-success" value="Submit Review"></center>
      
              </form>
      
            </div>
      
            <div class="modal-footer">
      
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
            </div>
      
          </div>
      
      
      
        </div>
      
      </div> 
      
          
      
          
          
      
      <!-- Start Navigation -->
      
      <div class="wrap-sticky">
      
        <nav id="mainNav" class="navbar navbar-default navbar-fixed bootsnav">
      
          <div class="container">
      
            <!-- Start Header Navigation -->
      
            <div class="navbar-header">
      
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
      
              <a class="navbar-brand" href="https://www.relocatoremovals.in/index.php"><img src="https://www.relocatoremovals.in/images/logo.png" class="logo logo-scrolled" alt=""></a> </div>
      
            <!-- End Header Navigation -->
      
            <!-- Collect the nav links, forms, and other content for toggling -->
      
            <div class="collapse navbar-collapse" id="navbar-menu">
      
              <ul class="nav navbar-nav navbar-right" data-in="" data-out="">
      
                <li class="active"><a href="https://www.relocatoremovals.in/index.php">Home</a></li>
      
                <li><a href="https://www.relocatoremovals.in/about.php">About Us</a></li>
      
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Services</a>
      
                  <ul class="dropdown-menu">
      
                    <li><a href="https://www.relocatoremovals.in/international-relocation.php">International Relocation</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/with-in-india-shifting.php">With-in India Relocation</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/with-in-city-shifting.php">With - in City Relocation</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/vehicle-shifting.php">Car Shifting</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/world-class-storage.php">World Class Storage</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/fine-art-moving.php">Fine Art Moving</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/orientation-services.php">Orientation Services</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/pet-relocation.php">Pet Relocation</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/plants-trees-relocation.php">Plants &amp; Trees Relocation</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/handyman-valet-services.php">Handyman &amp; Valet Services</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/hospitality-logistics.php">Hospitality Logistics</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/office-moves.php">Office Moves</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/commercial-moves.php">Commercial Moves</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/book-a-survey.php">Book a Survey</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/useful-tools.php">Resources</a></li>
      
                  </ul>
      
                </li>
      
                <li class="dropdown"><a href="https://www.relocatoremovals.in/tracking.php" class="dropdown-toggle" data-toggle="dropdown">Tracking</a>
      
                  <ul class="dropdown-menu animated" style="display: none; opacity: 1;">
      
                    <li> <a href="https://www.relocatoremovals.in/tracking.php">Tracking Information</a> </li>
      
                    <li> <a href="https://www.relocatoremovals.in/general-information.php">General Information</a> </li>
      
                    <li> <a href="https://www.relocatoremovals.in/custom-information.php">Custom Information</a> </li>
      
                    <li> <a href="https://www.relocatoremovals.in/industry-information.php">Industry Information</a> </li>
      
                    <li> <a href="https://www.relocatoremovals.in/useful-information.php">Useful Information</a> </li>
      
                    <li> <a href="https://www.relocatoremovals.in/insurance.php">Insurance</a></li>
      
                    <li> <a href="https://www.relocatoremovals.in/claims.php">Claims</a></li>
      
                    <li> <a href="https://www.relocatoremovals.in/volume-calculator.php">Volume Calculator</a></li>
      
                  </ul>
      
                </li>
      
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Resources</a>
      
                  <ul class="dropdown-menu">
      
                    <li><a href="https://www.relocatoremovals.in/useful-tools.php">Useful Tools</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/blog.php">Blog</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/online-payment.php">Online Payment</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/testimonial.php">Customer Video & Text Testimonials</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/gallery.php">Gallery</a></li>
      
                    <li><a href="https://www.relocatoremovals.in/contact-us.php">Contact us</a></li>
      
                  </ul>
      
                </li>
      
                <li><a href="https://www.relocatoremovals.in/book-a-survey.php">Request a quote</a></li>
      
                <li><a href="https://www.relocatoremovals.in/volume-calculator.php">calculate your Move Volume</a></li>
      
                <!--<li><a href="#">Contact Us</a></li>-->
      
              </ul>
      
              <div class="w3_agile_login"> <a class="btn" data-popup-open="popup-5" href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
      
                <!--<a id="myBtn"><i class="fa fa-phone" aria-hidden="true"></i></a>-->
      
              </div>
      
            </div>
      
            <!-- /.navbar-collapse -->
      
          </div>
      
        </nav>
      
      </div>
      