{%  extends 'base.html'%}
{%block title%}
|Welcome

{%endblock%}
{% block content%}
<!-- popup -->

<div class="popup" data-popup="popup-5">

    <div class="popup-inner">
  
      <h3 class="text-center">Call me now</h3>
  
      
  
      
  
        <form>
  
            
  
        </form>
  
        
  
          <form action="https://www.relocatoremovals.in/phone_submit.php" method="post">
  
            <input class="form-control" name="phone" type="number" placeholder="Enter your Mobile number">
  
            <div class="clearfix"> </div><br><br>
  
            <button class="btn btn-success" name="submit" type="submit">Call Now</button>
  
            
  
            
  
        </form>
  
       
  
     
  
      <p><a class="btn" data-popup-close="popup-5" href="#">Close</a></p>
  
      <a class="popup-close" data-popup-close="popup-5" href="#">x</a> </div>
  
  </div>
  
  <!-- popup end-->
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div id="firstModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="my-wel-grid">
              <h1 class="quick-connect-title" align="center"><b>Quick Connect</b></h1>
            <form method="post" id="form" action="#">
              <div class="form-group">
                <div class="">
                  <select name="title" required>
                    <option value="">--Select Salutation--</option>
                    <option value="Miss">Miss</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Ms">Ms</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Prof.">Prof.</option>
                    <option value="Col.">Col.</option>
                    <option value="Mjr.">Mjr.</option>
                    <option value="Deacon">Deacon</option>
                    <option value="Lord">Lord</option>
                    <option value="Lady">Lady</option>
                    <option value="Sir">Sir</option>
                    <option value="Rev.">Rev.</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="">
                  <input type="text" class="form-control" name="f_name" placeholder="Full Name" required>
                </div>
              </div>
              <div class="form-group">
                <div class="">
                  <input type="email" class="form-control" name="email" placeholder="Email" pattern="" required>
                </div>
              </div>
              <div class="form-group">
                <div class="">
                  <input type="phone" class="form-control" name="phone" placeholder="Phone" minlength="10" maxlength="10" required>
                </div>
              </div>
              <div class="form-group">
                <div class="">
                  <select  name="service_type" id="selectServiceType" required onchange="checkSelectServiceType()">
                    <option value="">Select Service Type</option>
                    <option value="INTERNATIONAL RELOCATION">INTERNATIONAL <span>RELOCATION</span></option>
                    <option value="WITH IN CITY RELOCATION">WITH IN CITY <span>RELOCATION</span></option>
                    <option value="CAR SHIFTING">CAR <span>SHIFTING</span></option>
                    <option value="World Class Storage">World Class <span>Storage</span></option>
                    <option value="Fine Art Moving">Fine Art <span>Moving</span></option>
                    <option value="Orientation Services">Orientation <span>Services</span></option>
                    <option value="Pet Relocation">Pet <span>Relocation</span></option>
                    <option value="Plants & Trees Relocation">Plants & Trees <span>Relocation</span></option>                                  
                  </select>
                </div>
              </div>            
              <div class="form-group">
                <div class="">
                  <input type="text" class="form-control geo" id="shifting-to1" name="move_city" placeholder="City moving from" required>
                </div>
              </div>
              <div class="form-group">
                <div class="">
                  <input type="text" class="form-control geo" id="shifting-to2" name="destination" placeholder="Destination city" required>
                </div>
              </div>
              <div class="form-group">
                <div class="">
                  <select name="size"  id="selectSizeOfProperty">
                    <option value="Not Allow" selected="selected">Select Size of Property</option>
                   <option value="Just moving a few items">Just moving a few items</option>
                  <option value="1 bedroom">1 bedroom</option>
                  <option value="2 bedroom">2 bedrooms</option>
                  <option value="3 bedroom">3 bedrooms</option>
                  <option value="4 bedroom">4 bedrooms</option>
                  <option value="5 bedrooms or more">5 bedrooms or more</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div style="width: 100% !important;">
          <div id="sandbox-container">
            <input type="text" name="moving_date" class="form-control datepickstart" placeholder="Select moving date" required/>
          </div>
                 </div>
                </div>
              </div>
              <div class="form-group">
                <div class="">
                  <textarea class="form-control" name="msg" placeholder="Comments" style="height:55px;"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="submit" name="send" value="submit">
              </div>
        <div class="col-sm-12 padding10" id="loader">
          <h3><i class="fa fa-refresh fa-spin"></i> Working</h3>
        </div>
            </form>
        <div id="note"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      function checkSelectServiceType() {
   var selectServiceType = document.getElementById('selectServiceType').value;
   if((selectServiceType=='CAR SHIFTING') || (selectServiceType=='Fine Art Moving') || (selectServiceType== 'Orientation Services') ||(selectServiceType=='Pet Relocation') || (selectServiceType=='Plants & Trees Relocation')) {
       $('#selectSizeOfProperty').hide();
    //document.getElementById('selectSizeOfProperty').value = "Thanks for selecting cat";
   } else {
       $('#selectSizeOfProperty').show();
    //document.getElementById('res').value = "please select CAT";
   }
  }
  </script>
  <div class="clearfix"></div>
  <!--header end -->
  <!--Main Slider -->
  <div class="single-img-banner">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="heading-bx">
              <!-- ======================== Text Slider =========================== -->
              <div class='row'>
                <div class='col-md-12'>
                  <div class="carousel slide" data-ride="carousel" id="quote-carousel" style="padding:0;">
                  <div class="carousel-inner">
                                       <!-- Quote 1 -->
                      <div class="item active">
                        <div class="row">
                          <div class="col-sm-12">
                            <h1>EFFORTLESS MOVING YOU CAN AFFORD.</h1>
                            <p class="box-title">Whether you&rsquo;re moving locally, to&nbsp;a new city or a new country,&nbsp;Relocato Removals&nbsp;&nbsp;is the moving&nbsp;company that makes it easy for you.
  
  &nbsp;
  </p>
                          </div>
                        </div>
                      </div>
                      <!-- Quote 2 -->
                      <div class="item">
                        <div class="row">
                          <div class="col-sm-12">
                            <h1>WHAT IF YOUR FAVORITE CROCKERY SET CRUMBLES DURING SHIFTING .</h1>
                            <p class="box-title">With us , It won&#39;t as this is not a commodity to move&nbsp;with but your sentiments&nbsp;
  </p>
                          </div>
                        </div>
                      </div>
                      <!-- Quote 3 -->
                      <div class="item">
                        <div class="row">
                          <div class="col-sm-12">
                            <h1>WHAT IF THE VINTAGE WOODEN CHEST GETS DAMAGED DURING THE MOVE .</h1>
                            <p class="box-title">With us it won&#39;t as we do take care not only your possessions but your passions too
  </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div></div>
              <!-- ======================== Text Slider End===========================-->
              <div class="banner_bottom">
              <a href="https://www.relocatoremovals.in/relocatoremovals-local.php" class="btn-white btn-xlg wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms"><i class="fa fa-home" aria-hidden="true"></i> Shift Home</a> <a href="https://www.relocatoremovals.in/services.php" class="btn-white btn-xlg wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">Explore US</a> <a href="https://www.relocatoremovals.in/vehicle-shifting-steps1.php" class="btn-white btn-xlg wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms"><i class="fa fa-car" aria-hidden="true"></i> Shift Vehicle</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Main Slider-->
  <div class="sections-wrapper">
    <section class="sec-pad form-section padtop">
      <div class="ntainer-fluid">
        <!--===================== relocate option ============-->
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center efficientTool" style="margin-left:10.5%;">
            <h3 class="call-us">Call Us: <span><b><a style="color:white;" href="tel:"></a></b></span> </h3>
            <h3 style><b>1 Minute Call is better than 1 Hour Research</b></h3>
            <p>SHIFTING DOMESTIC & INTERNATIONAL </p>
          </div>
        </div>
        <br><br>
        <!--===================== relocate option end============-->
        <div class="row" style="padding-top: 70px;">
            <form method="post" id="form1" action="#">
          <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
            <div class="form-post">
              <select name="title" class="select_option floatl">
                <option value="">--Select Salutation--</option>
                <option value="Miss">Miss</option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Dr.">Dr.</option>
                <option value="Prof.">Prof.</option>
                <option value="Col.">Col.</option>
                <option value="Mjr.">Mjr.</option>
                <option value="Deacon">Deacon</option>
                <option value="Lord">Lord</option>
                <option value="Lady">Lady</option>
                <option value="Sir">Sir</option>
                <option value="Rev.">Rev.</option>
                <option value="Other">Other</option>
              </select>
              <input class="floatl" type="text" name="f_name" placeholder="Full Name*" required>
              <input class="floatl" type="email" name="email" placeholder="Email*" pattern="[^ @]@[^ @]" required>
              <input class="floatl" type="tel" name="phone" placeholder="Phone*" minlength="10" maxlength="10" required> 
              <input class="floatl" type="text" name="move_city" placeholder="City moving from*" required>
              <input class="floatl" type="text" name="destination" placeholder="Destination city*" required>
              <select name="size" class="select_option floatl">
                <option value="">Select Items</option>
                <option value="Just moving a few items">Just moving a few items</option>
                  <option value="1 bedroom">1 bedroom</option>
                  <option value="2 bedroom">2 bedrooms</option>
                  <option value="3 bedroom">3 bedrooms</option>
                  <option value="4 bedroom">4 bedrooms</option>
                  <option value="5 bedrooms or more">5 bedrooms or more</option>
              </select>
              <textarea class="form-control col-textarea" name="msg" placeholder="Comments"></textarea>
               <input type="submit" class="btn btn-primary" id="submit1" name="send1" value="submit">
            </div>   
          </div>
          <div class="col-sm-12 padding10" id="loader1">
          <h3><i class="fa fa-refresh fa-spin"></i> Working</h3>
        </div>
          </form>
          <div id="note1"></div>
        </div>
      </div>
    </section>
  </div>
  <section class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs">
          <div class="mover-man-img wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms"> <img src="https://www.relocatoremovals.in/images/mover-man.png" alt=""> </div>
        </div>
        <div class="col-md-8">
          <div class="content-col">
            <h1>Welcome to  Packers and Movers</h1>
            <p></p>
            <a href="https://www.relocatoremovals.in/about.php" class="theme-btn-orng btn-lg">READ MORE</a> </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="sec-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title title-padd-btm">
                      <h1 class="text-center">OUR SERVICES</h1>
            <p class="wd-50">Its this founding principle that has helped our organisation as well as our clients become a defining force in the industry </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="owl-carousel">
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/International-relocation.png" alt="International Relocation"/>
                  <figcaption>
                    <h2>International Relocation</h2>
                    <p><p>Now Forget Stress of Moving as Relocato Covers over 125 countries worldwide and making your international move a cheerful memory to you ever , offering Removals, Shipping , Air Freight &amp; Relocation Support Services .</p>
  </p>
                    <a href="https://www.relocatoremovals.in/international-relocation.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/within city relocation.jpg" alt="With in City Relocation"/>
                  <figcaption>
                    <h2>With in City Relocation</h2>
                    <p><p>No relocation opportunity is small to us whether you move across the house or street as it is just a way to showcase our expertise to you for future references.</p>
  </p>
                    <a href="https://www.relocatoremovals.in/with-in-india-shifting-steps1.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/178827fa147b0eac68b2ff28db3467fe.jpg" alt="Vehicle Shifting"/>
                  <figcaption>
                    <h2>Vehicle Shifting</h2>
                    <p><p>Let us transport your car Safe &amp; Hygienically at your Door Step # Feel the Royalism</p>
  </p>
                    <a href="https://www.relocatoremovals.in/vehicle-shifting.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/fine-art-moving.jpg" alt="Fine Art <span>Moving</span>"/>
                  <figcaption>
                    <h2>Fine Art <span>Moving</span></h2>
                    <p><p>Don&#39;t afford to take any chance when moving your high value collectivities . It&#39;s awesome to trust our Highly Trained Packers And Movers Crews .</p>
  </p>
                    <a href="https://www.relocatoremovals.in/fine-art-moving.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/orientation-relocation-service.jpg" alt="Orientation Services"/>
                  <figcaption>
                    <h2>Orientation Services</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/orientation-services.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/Inter State Relocation.jpg" alt="Inter State Relocation"/>
                  <figcaption>
                    <h2>Inter State Relocation</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/with-in-india-shifting.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/office relocation.png" alt="Office Moves"/>
                  <figcaption>
                    <h2>Office Moves</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/office-moves.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/hospitality logistics.jpg" alt="Hospitality Logistics"/>
                  <figcaption>
                    <h2>Hospitality Logistics</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/hospitality-logistics.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/commercial moves.jpg" alt="Commercial Moves"/>
                  <figcaption>
                    <h2>Commercial Moves</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/commercial-moves.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/1-2918f390.jpg" alt="Plants Trees Relocation"/>
                  <figcaption>
                    <h2>Plants Trees Relocation</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/plants-trees-relocation.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/cover-petrelocation3618.jpg" alt="Pet Relocation"/>
                  <figcaption>
                    <h2>Pet Relocation</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/pet-relocation.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/handyman.jpg" alt="handyman Valet Services"/>
                  <figcaption>
                    <h2>handyman Valet Services</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/handyman-valet-services.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/Airmax-Inc.1-1.jpg" alt="AC Installation"/>
                  <figcaption>
                    <h2>AC Installation</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/ac-installation.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/hhhhhhh.jpg" alt="Rent A Home"/>
                  <figcaption>
                    <h2>Rent A Home</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/rent-a-home.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                        <div class="item">
              <div class="grid">
                <figure class="effect-sarah"> <img src="https://www.relocatoremovals.in/admin/uploads/transportation service.jpg" alt="Transportation"/>
                  <figcaption>
                    <h2>Transportation</h2>
                    <p></p>
                    <a href="https://www.relocatoremovals.in/transportation.php">View more</a> </figcaption>
                </figure>
              </div>
            </div>
                      </div>
        </div>
      </div>
    </div>
  </section>
  <section id="main_why">
    <div class="container-fluid">
  <div class="text-center counter6 customer-like">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 count-header">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 count-header">
        <h2 class="overview_title text-center">WHY US</h2>
        <div class="separator outline "><span><i class="fa fa-circle"></i></span></div>
            </div>
    </div>
           
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 count-row customer-like">
  
  
              <div class="col-md-4 pp-wa border_new">
  
  
                  <div class="text-color body-color col-md-12 pp1 pp-counter07">
  
  
                      <div class="col-md-12 text-center pp2 rupee_icon">
  
  
                          <div class="bg_black">
  
  
                          <img src="https://www.relocatoremovals.in/images/why-us/Transparent Pricing.png" alt="" class="img-responsive">
  
  
                          </div>
  
  
                      </div>
  
  
                  </div>                
  
  
                  <p style="font-size:10px;"><strong >TRANSPARENT PRICING</strong></p>
  
  
                  <p>No More Cooked-up Bills  ! Crystal Clear Communication that creates future prospects</p>
  
  
              </div>
  
  
              <div class="col-md-4 pp-wa border_new">
  
  
                  <div class="text-color body-color col-md-12 pp1 pp-counter07">
  
  
                      <div class="col-md-12 text-center pp2 rupee_icon">
  
  
                          <div class="bg_black">
  
  
                          <img src="https://www.relocatoremovals.in/images/why-us/Flawless Quality.png" alt="" class="img-responsive">
  
  
                          </div>
  
  
                      </div>
  
  
                  </div>                
  
  
                  <p style="font-size:10px;"><strong >FLAWLESS QUALITY</strong></p>
  
  
                  <p>We believe Quality is remembered long after price is forgotten</p>
  
  
              </div>
  
  
              <div class="col-md-4 pp-wa border_new">
  
  
                  <div class="text-color body-color col-md-12 pp1 pp-counter07">
  
  
                      <div class="col-md-12 text-center pp2 rupee_icon">
  
  
                          <div class="bg_black">
  
  
                          <img src="https://www.relocatoremovals.in/images/why-us/Regular Updates.png" alt="" class="img-responsive">
  
  
                          </div>
  
  
                      </div>
  
  
                  </div>                
  
  
                  <p style="font-size:10px;"><strong >REGULAR UPDATES</strong></p>
  
  
                  <p>Track your cargo so that you know where your cargo is at any time</p>
  
  
              </div>
  
  
              <div class="col-md-4 pp-wa border_new">
  
  
                  <div class="text-color body-color col-md-12 pp1 pp-counter07">
  
  
                      <div class="col-md-12 text-center pp2 rupee_icon">
  
  
                          <div class="bg_black">
  
  
                         <img src="https://www.relocatoremovals.in/images/why-us/Superior Packaging Material.png" alt="" class="img-responsive">
  
  
                          </div>
  
  
                      </div>
  
  
                  </div>                
  
  
                  <p style="font-size:10px;"><strong >SUPERIOR PACKAGING MATERIAL</strong></p>
  
  
                  <p>The Best   l    The Trendy   l   and The Genuine       l                Let us                                                     wrap it for you  l 3 Layered Fabric Sheets  l  Carton Boxes  l  Bubble Wrap & much more</p>
  
  
              </div>
  
  
              <div class="col-md-4 pp-wa border_new">
  
  
                  <div class="text-color body-color col-md-12 pp1 pp-counter07">
  
  
                      <div class="col-md-12 text-center pp2 rupee_icon">
  
  
                          <div class="bg_black">
  
  
                          <img src="https://www.relocatoremovals.in/images/why-us/Strong Experience.png" alt="" class="img-responsive">
  
  
                          </div>
  
  
                      </div>
  
  
                  </div>                
  
  
                  <p style="font-size:10px;"><strong >STRONG EXPERIENCE</strong></p>
  
  
                  <p>Let The Professionals l The Experts & The Great Minds of the Industry work for you to make over your Move a perfect event</p>
  
  
              </div>
  
  
              <div class="col-md-4 pp-wa border_new">
  
  
                  <div class="text-color body-color col-md-12 pp1 pp-counter07">
  
  
                      <div class="col-md-12 text-center pp2 rupee_icon">
  
  
                          <div class="bg_black">
  
  
                          <img src="https://www.relocatoremovals.in/images/why-us/Lead A Business Attitude.png" alt="" class="img-responsive">
  
  
                          </div>
  
  
                      </div>
  
  
                  </div>
  
  
                  <p style="font-size:10px;"><strong >LEAD A BUSINESS ATTITUDE</strong></p>
  
  
                  <p>In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual</p>
  
  
              </div>
  
  
              
  
  
          </div>
  
  
  </div>
  </div>
  </section>
  <!-- ====================== Testimonials ==============================-->
  <section class="testimonial-section2">
    <div class="text-center">
      <div class="col-12">
        <h2 class="overview_title text-center">CUSTOMER SPEAK'S</h2>
      </div>
    </div>
    <div class="separator"><span><i class="fa fa-circle"></i></span>
      <a href="https://www.relocatoremovals.in/testimonial.php" class="view-morebtn">View More</a>
    </div>
    <div class="section-title">
    </div>
    <div id="testim" class="testim">
      <div class="wrap"> <span id="right-arrow" class="arrow right fa fa-chevron-right"></span> <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
        <ul id="testim-dots" class="dots">
          <li class="dot active"></li>
          <li class="dot"></li>
          <li class="dot"></li>       
        </ul>
        <div id="testim-content" class="cont">
              <div class="active">
            <div class="img"><img src="https://www.relocatoremovals.in/admin/uploads/kevil.jpg" alt=""></div>
            <div class="h4"><strong>Amresh Naruka</strong><br>
              <br>
             </div>
            <p>I have opted for your services to move my household goods from Hyderabad to Pune. The staff was professionally equipped and very friendly. I am more than satisfied with the service and would surely recommend it to others. </p>
          </div>
              <div class="">
            <div class="img"><img src="https://www.relocatoremovals.in/admin/uploads/client2.jpg" alt=""></div>
            <div class="h4"><strong>Gunjan Gupta</strong><br>
              <br>
             </div>
            <p>Relocation involves 100s of things that you need to worry about, thanks to Relocato team there is one less thing you will have to worry about! Relocato Removals provide highly professional and efficient services! The entire team, knows their job well! Right from the survey person to packaging and back office responses every one will provide you to the point information and support! Thanks Relocato Removals for moving my goods safely! More over I am happy to see the care of stuff so nicely even a</p>
          </div>
              <div class="">
            <div class="img"><img src="https://www.relocatoremovals.in/admin/uploads/su-test.jpg" alt=""></div>
            <div class="h4"><strong>Aahan </strong><br>
              <br>
             </div>
            <p>I record my appreciation for the excellent service provided by your team member. He made every effort to redress the grievance at the earliest opportunity in a customer-friendly manner.</p>
          </div>
            </div>
      </div>
    </div>
  </section>
  <section class="next-move-tab counter6 blog-home">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center blog-header">
          <h2 class="overview_title text-center">Explore Our BLOG</h2>
      <a href="https://www.relocatoremovals.in/blog.php" class="view-morebtn">Click Here To Know More</a></div>
          <div class="separator"><span><i class="fa fa-circle"></i></span></div>
          <div class="section-title">
            <p>How to get a Gif in true sense about your Relocation partner whether he pretends to be a Big Brand</p>
          </div>
        </div>
      </div>
      <div class="row count-row">
                          
          <div class="col-sm-4">
              <div class="info-box">
                  <div class="icons"><img src="https://www.relocatoremovals.in/admin/uploads/international-moving.jpg" alt="Book packers and movers services online" title="Book packers and movers services online" class="img-responsive"></div>
                  <ul class="text-center" type="none">
                      <li><strong</strong></li>
                      <li>Book packers and movers services online</li> <li class="moretext"><p><strong>Why to book packers and movers services online?</strong></p>
  
  <p>Anybody who has ever tried to shift base should know and understand that it is difficult to move all of your things and belongings. Whether you move home and your car, to say the least, it can be overwhelming and exhausting.</p>
  
  <p>But the good news is you don&rsquo;t have to do it on your own. You don&rsquo;t have to worry about anything with virtual packers and movers on your hands. They are the ultimate mediators and will coordinate the need for the best movers and packers to attend and take care of change and transfer, car transport, relocation in the workplace, shop shift and business change.</p>
  
  <p><strong>Challenges to book packers and movers services online:</strong></p>
  
  <p>Selecting the right national and book packers and digital movers can be a task. There is the question of finding reputable movers for homes, including the possibility that they are qualified or not and the value they say is worth it. Here you can rest assured that you will find the best packers and products at a reasonable rate to make it as easy and convenient as possible for you.</p>
  
  <p><strong>House shifting through packers and movers services online be like:</strong></p>
  
  <p>After all you let go of the comfortable and pass over new land, it&rsquo;s hard to move home. Many people move, whether as a result of a change, relocation or a new beginning of existence, for different reasons. An individual alone cannot handle the process of moving the property. The skilled packers and movers are hiring online and taking all the risks before taking the big leap.</p>
  
  <p><strong>Transportation of vehicles through packers and movers services online be like:</strong></p>
  
  <p>If you own a four-wheeler, you may need to move the vehicle rapidly and on schedule to the required location. Due to packers and movers facilities that book packers and movers services online app offers, you can be assured that your </li>
                      <a class="moreless-button btn btn-sm btn-primary">Explore</a>
                  </ul>
              </div>
          </div>
             </div>
    </div>
  </section>
  <div class="container" style="display:none;">
    <div class="row">
      <div class="col-md-12" style="padding-top: 5%;">
        <h3>How to get a Gif in true sense about your Relocation partner whether he pretends to be a Big Brand </h3>
        <p><strong>It’s gonna  be a decade in which Relocation Industry in India has encountered a terrible rise in the name of  Fake Packers & Movers Companies.</strong></p>
        <p>Let’s pretend you are a renowned brand name in Relocation  Industry and you have a very good presence to your customers, that’s a point where the  fake & local immitator starts cheating , make a website </p>
        <p>where they try to include some famous name or some elements of the name then advertise ,draw traffic and leads.</p>
        <p>For a good customer it is a matter of worry that the name of the Packers and Movers is similar too that of the famous brand  they have rolled upon but the Processes and Quality are rarely in existence.</p>
        <p>Being a customer it sounds very nice to get a very cheaper price and even more affordable , when the unscrupulous Packers & Movers fail to deliver or cause damage to your articles, you complain them but find no solution , increases unwanted frustration only. It’s something where many of you realise that you have been cheated or tricked by the local moving fellow, By the moment you gonna realize,   it’s too late.</p>
        <p><em>Be very cautious while choosing a Moving Company ensure that you are not being grabbed by unprofessional fellows<br>
          Here are some essentials you must look for before selecting a relocation agency…</em></p>
        <br>
        <p><strong>A) Never opt the mover who draws your focus on lower price or quote only</strong><br>
          Always remember that relocation industry is a part of transport industry & you must be aware that being a core transport industry it has been treated as a very unorganised sector, hence more than 90%  people or vendors are working like a transporter  & unprofessional who may be very sweet with you at the time of grabbing booking opportunity whereas only <strong>4-5 % companies are working like a professional Relocation companies in India</strong></p>
        <p>Moreover relocation is not necessarily cheap , opting for cheap movers to save money isn’t a wise idea .</p>
        <p>Your mover might promise to you at every single thing you want to be done at your way from him but he may be totally different at the time of performance ,remember that you will finally get what you pay for. “ Poor Packing , Low density packaging material , untrained crews as they may hire labour from labour chowk , , fake commitments, hide & seek communication, un-ethical practise , and inexperience in logistics , form a deadly cocktail. You would finally end up with delays , loss of your precious articles , and damaged items.</p>
        <p><em>“ When you add the price of all this to your moving costs you will get the true costs of your home shifting. You would be wise to at least consider this aspect before you choose the mover.”</em></p>
        <p><strong>"Quality is remembered long after even price is forgotten"</strong></p>
        <p><strong>B) Look for reviews online</strong><br>
          Remember choosing a mover means you are going to handover all your precious & personal house-hold effects that brings dependancy of their sincere responsiveness whether you have chosen a right mover or grabbed by a fake one. </p>
        <p>Hence always look for reviews and take some testimonials from some reputed organisations peers or your known for whom they have provided their relocation services earlier.</p>
        <p>Aside this don’t just settle for online reviews only as this could be doctored , insist on some customer references from the mover.</p>
        <p>Speak up with the customers and ask them about their moving experience , also ask for some packing photographs and videos for the same.</p>
        <p><strong>C) Look for the accreditations</strong><br>
          Accreditations ensure that the movers adhere to acceptable .ethical standards, in the moving industry such as the movers is accredited by ISO certifications or not that brings some credibility to the clients </p>
        <p><strong>D) Ask for Insurance Protection</strong><br>
          Most packers and movers do offer insurance as part of the deal but don’t assume this is always the case , also ask what is the procedure for Claim settlement if any damage occurs and what document they are proceeding.</p>
        <p>If your movers don’t, always insist on insurance. You don’t want to be left helpless if your goods do get damaged, or stolen in transit, do you?</p>
        <p><strong>E) Read the fine print  ( T & C ) in the contract carefully</strong><br>
          This might sound obvious, but this is one of the biggest mistake most customers make. Read the contract carefully before you sign it. Make sure everything the movers promise is written in the contract. Double check all the dates, insurance details, and the final amount that you have to pay.</p>
        <p>Doing this will save you a lot of grief later.</p>
      </div>
    </div>
  </div>
  <div class="container video-section">
    <div class="row">
      <h2 class="overview_title text-center">OUR VIDEOS</h2>
      <div class="separator"><span><i class="fa fa-circle"></i></span></div>
      <div class="section-title">
        <p>How to get a Gif in true sense about your Relocation partner whether he pretends to be a Big Brand</p>
      </div>
                <div class="col-md-6">
        <iframe width="100%" height="330" src="https://www.youtube.com/embed/LhJVPFkVJ9c" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
      </div>
            <div class="col-md-6">
        <iframe width="100%" height="330" src="https://www.youtube.com/embed/RnP32LIXGXY" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
      </div>
          </div>
  </div>
  <div class="clearfix"></div>
  <section id="main-partners-section">
    <div class="container">
      <div class="col-md-12">
        <div class="separator partner-padb" style="padding-bottom: 0;">
          <h2 class="overview_title text-center">OUR PARTNERS</h2><span><i class="fa fa-circle"></i></span><a href="https://www.relocatoremovals.in/partners.php" class="view-morebtn">View More</a></div>
        <div class="row main-clients">
          <div class="customers__partner col-xs-12 col-md-3">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/airtel.png" alt="" class="img-responsive">
          </div>
          <div class="customers__partner col-xs-12 col-md-3">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/apollo.png" alt="" class="img-responsive">
          </div>
          <div class="customers__partner col-xs-12 col-md-3">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/samsung.png" alt="" class="img-responsive">
          </div>
      <div class="customers__partner col-xs-12 col-md-3">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/ril.png" alt="" class="img-responsive">
          </div>
          <div class="customers__partner col-xs-12 col-md-3">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/godrej.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="row main-clients">
      <div class="col-sm-offset-2">
          <div class="customers__partner col-xs-12 col-md-2">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/oppo.jpg" alt="" class="img-responsive">
          </div>
          <div class="customers__partner col-xs-12 col-md-2">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/acc.jpg" alt="" class="img-responsive">
          </div>
      <div class="customers__partner col-xs-12 col-md-3">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/pepsico.png" alt="" class="img-responsive">
          </div>
          <div class="customers__partner col-xs-12 col-md-3">
            <img src="https://www.relocatoremovals.in/images/home-cliennt/asian-paints.png" alt="" class="img-responsive">
          </div>
      </div>
        </div>
      </div>
    </div>
  </section>
  <div id="mySidenav" class="sidenav"> <a href="https://www.relocatoremovals.in/book-a-survey.php" id="cup"><span><img src="https://www.relocatoremovals.in/images/cup.jpg"></span><span class="cup-tea">Lets have a Cup of Tea</span></a> </div>
  <p class="slide-toggle arrowleft"><img src="https://www.relocatoremovals.in/images/arrow_left.png"></p>
  <p class="slide-toggle arrowright"><img src="https://www.relocatoremovals.in/images/arrow_right.png"></p>
  <nav class="social">
    <ul>
      <li><a href="tel:" title="Call Back">Call me <i class="fa fa-phone" aria-hidden="true"></i></a></li>
      <li><a href="#" id="addClass" title="Chat">Chat <i class="fa fa-comment" aria-hidden="true"></i></a></li>
      <li><a href="https://www.relocatoremovals.in/contact-us.php" title="Contact">Contact <i class="fa fa-address-card" aria-hidden="true"></i></a></li>
      <li><a href="https://web.whatsapp.com/+91-9958291021" id="addClass" title="Chat" target="_blank">WhatsApp <i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      <li><a href="skype:" title="Contact">Skype <i class="fa fa-skype" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
  <div class="popup-box chat-popup" id="qnimate">
    <div class="popup-head">
    <div class="popup-head-left pull-left"><img src="../bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" alt="iamgurdeeposahan"> Gurdeep Osahan</div>
    <div class="popup-head-right pull-right">
    <div class="btn-group">
      <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false"> <i class="fa fa-cog" aria-hidden="true"></i> </button>
      <ul role="menu" class="dropdown-menu pull-right">
        <li><a href="#">Media</a></li>
        <li><a href="#">Block</a></li>
        <li><a href="#">Clear Chat</a></li>
        <li><a href="#">Email Chat</a></li>
      </ul>
    </div>
    <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button">
    <i class="fa fa-times" aria-hidden="true" style="    vertical-align: middle;"></i></button>
    </div>
    </div>
    <div class="popup-messages">
      <div class="direct-chat-messages">
        <div class="chat-box-single-line"> <abbr class="timestamp">October 8th, 2015</abbr> </div>
        <!-- Message. Default to the left -->
        <div class="direct-chat-msg doted-border">
          <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Osahan</span> </div>
          <!-- /.direct-chat-info -->
          <img alt="message user image" src="../bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img">
          <!-- /.direct-chat-img -->
          <div class="direct-chat-text"> Hey bro, how’s everything going ? </div>
          <div class="direct-chat-info clearfix"> <span class="direct-chat-timestamp pull-right">3.36 PM</span> </div>
          <div class="direct-chat-info clearfix"> <span class="direct-chat-img-reply-small pull-left"> </span> <span class="direct-chat-reply-name">Singh</span> </div>
          <!-- /.direct-chat-text -->
        </div>
        <!-- /.direct-chat-msg -->
        <div class="chat-box-single-line"> <abbr class="timestamp">October 9th, 2015</abbr> </div>
        <!-- Message. Default to the left -->
        <div class="direct-chat-msg doted-border">
          <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Osahan</span> </div>
          <!-- /.direct-chat-info -->
          <img alt="iamgurdeeposahan" src="../bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img">
          <!-- /.direct-chat-img -->
          <div class="direct-chat-text"> Hey bro, how’s everything going ? </div>
          <div class="direct-chat-info clearfix"> <span class="direct-chat-timestamp pull-right">3.36 PM</span> </div>
          <div class="direct-chat-info clearfix"> <img alt="iamgurdeeposahan" src="../bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img big-round"> <span class="direct-chat-reply-name">Singh</span> </div>
          <!-- /.direct-chat-text -->
        </div>
        <!-- /.direct-chat-msg -->
      </div>
    </div>
    <div class="popup-messages-footer">
    <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
    <div class="btn-footer">
      <button class="bg_none"><i class="fa fa-picture-o" aria-hidden="true"></i> </button>
      <button class="bg_none"><i class="fa fa-camera" aria-hidden="true"></i> </button>
      <button class="bg_none"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
      <button class="bg_none pull-right"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
    </div>
  </div>
  </div>
{% endblock%}